input {
  file {
    path => "C:/Users/sbsuj/OneDrive/Desktop/logstash-8.17.4/bin/Security_Log.txt"
    start_position => "beginning"
    sincedb_path => "NUL"  # Prevents remembering file position on Windows
  }
}

filter {
#Using Grok 
  grok {
    match => { "message" => "<%{NUMBER}>%{NUMBER}\s+%{TIMESTAMP_ISO8601:timestamp}\s+%{WORD}\s+%{WORD:service}\s+%{NUMBER:AntivirusID}\s+-\s+-\s+alertname=\"%{GREEDYDATA:description}\"\s+computername=\"%{HOSTNAME:hostname}\"\s+computerip=\"%{IP:source_ip}\"\s+severity=\"%{NUMBER:severity}\"" }
  }

#Converting severity from integer to string
  mutate {
    convert => { "severity" => "string" }
  }

#Replacing severity values: 1 → "High"
 mutate {
    gsub => [
      "severity", "^1$", "High"
    ]
  }
  
#Removing unnecessary fields from the output
  mutate {
    remove_field => ["message", "@timestamp", "@version", "service", "process_id", "computername", "timestamp"]
  }
}

output {
#Printing output to console for debugging
  stdout { 
    codec => rubydebug 
  }
#Sending logs to Elasticsearch for indexing
  elasticsearch {
    hosts => ["http://localhost:9200"]
    index => "security"
  }
}
