input {
  file {
    path => "C:/Users/sbsuj/OneDrive/Desktop/logstash-8.17.4/bin/Security_Log.txt"
    start_position => "beginning"
    sincedb_path => "NUL"  # Prevents remembering file position on Windows
  }
}

filter {
  grok {
    match => { "message" => "<%{NUMBER}>%{NUMBER}\s+%{TIMESTAMP_ISO8601:timestamp}\s+%{WORD}\s+%{WORD:service}\s+%{NUMBER:AntivirusID}\s+-\s+-\s+alertname=\"%{GREEDYDATA:description}\"\s+computername=\"%{HOSTNAME:hostname}\"\s+computerip=\"%{IP:source_ip}\"\s+severity=\"%{NUMBER:severity}\"" }
  }

  mutate {
    convert => { "severity" => "string" }
  }

 mutate {
    gsub => [
      "severity", "^1$", "High"
    ]
  }
  

  mutate {
    remove_field => ["message", "@timestamp", "@version", "service", "process_id", "computername", "timestamp"]
  }
}

output {
  stdout { 
    codec => rubydebug 
  }

  elasticsearch {
    hosts => ["http://localhost:9200"]  # Change if needed
    index => "security"
  }
}